.mapa{
    width: 100%;
    height: auto; overflow: hidden;
    margin: 0 auto;
    
}

.container-mapa{
    display: flex;
    align-items: center;
    justify-content: center;
}
i{
    color: blue;
    width: "6";
    height: "6";
    position:absolute;
    top: 50%;
    font-size: 50px;
    margin-top: auto;
    
    
}
#Whasapt{
    color: green;
    
}


 

  
